In [1]:
import pandas as pd

In [2]:
olist_colsed=pd.read_csv('olist_closed_deals_dataset.csv')

In [3]:
olist_colsed.head()

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,NaN,NaN,NaN,reseller,NaN,0.0
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05 17:27:23,home_appliances,online_big,cat,NaN,NaN,NaN,reseller,NaN,0.0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17 13:51:03,food_drink,online_small,NaN,NaN,NaN,NaN,reseller,NaN,0.0
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03 20:17:45,home_appliances,industry,wolf,NaN,NaN,NaN,manufacturer,NaN,0.0

In [4]:
olist_colsed.isnull().mean()*100

mql_id                            0.000000
seller_id                         0.000000
sdr_id                            0.000000
sr_id                             0.000000
won_date                          0.000000
business_segment                  0.000000
lead_type                         0.000000
lead_behaviour_profile           20.727273
has_company                      92.363636
has_gtin                         92.242424
average_stock                    92.000000
business_type                     0.000000
declared_product_catalog_size    91.636364
declared_monthly_revenue          0.000000
dtype: float64

In [5]:
olist_colsed= olist_colsed.dropna(subset=[
    'business_segment', 
    'lead_type', 
    'business_type', 
])

In [6]:
olist_colsed.lead_type.unique()

array(['online_medium', 'industry', 'online_big', 'online_small',
       'offline', 'online_top', 'online_beginner', 'other'], dtype=object)

In [7]:
olist_colsed.lead_type.value_counts()

lead_type
online_medium      327
online_big         126
industry           119
offline            102
online_small        77
online_beginner     57
online_top          14
other                3
Name: count, dtype: int64

In [8]:
olist_colsed.business_type.unique()

array(['reseller', 'manufacturer', 'other'], dtype=object)

In [39]:
olist_colsed.seller_id.nunique()

825

In [38]:
olist_colsed.groupby('business_type')['seller_id'].nunique()

business_type
manufacturer    242
other             3
reseller        580
Name: seller_id, dtype: int64

In [9]:
olist_colsed.business_type.value_counts()

business_type
reseller        580
manufacturer    242
other             3
Name: count, dtype: int64

In [70]:
olist_colsed.declared_monthly_revenue.value_counts()

declared_monthly_revenue
0.0           780
100000.0        5
20000.0         3
30000.0         3
10000.0         3
25000.0         3
50000.0         2
5000.0          2
300000.0        2
250000.0        2
15000.0         2
60000.0         2
120000.0        2
50000000.0      1
6.0             1
6000.0          1
150000.0        1
180000.0        1
8000000.0       1
4000.0          1
40000.0         1
210000.0        1
1000.0          1
500000.0        1
130000.0        1
8000.0          1
200000.0        1
Name: count, dtype: int64

In [51]:
#create dataframe only for manufacture:
olist_colsed_manufacture = olist_colsed[olist_colsed['business_type'] == 'manufacturer']

In [52]:
olist_colsed_manufacture

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03 20:17:45,home_appliances,industry,wolf,NaN,NaN,NaN,manufacturer,NaN,0.0
5,b94fba7670eeb44dce2a0d8eb790e9f5,1c742ac33582852aaf3bcfbf5893abcf,fdb16d3cbbeb5798f2f66c4096be026d,495d4e95a8cf8bbf8b432b612a2aa328,2018-02-07 18:04:05,health_beauty,online_medium,NaN,NaN,NaN,NaN,manufacturer,NaN,0.0
7,b02c89251106e1fdd9d92744be9f94f2,44ed138eca6214d572ce1d813fb0049b,34d40cdaf94010a1d05b0d6212f9e909,4ef15afb4b2723d8f3d81e51ec7afefe,2018-04-17 17:01:57,health_beauty,offline,cat,NaN,NaN,NaN,manufacturer,NaN,0.0
9,0173e8d8b1d94a355b440fb67388f532,87d73636a3acf123e842bb890a4db036,9d12ef1a7eca3ec58c545c678af7869c,9e4d1098a3b0f5da39b0bc48f9876645,2018-04-24 03:00:00,household_utilities,online_medium,eagle,NaN,NaN,NaN,manufacturer,NaN,0.0
16,450b97a48568c3118ff397f73abe4e4a,df91910b6a03bb2e3358fa6a35e32f6f,09285259593c61296eef10c734121d5b,060c0a26f19f4d66b42e0d8796688490,2018-04-10 19:21:54,food_drink,online_medium,cat,NaN,NaN,NaN,manufacturer,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
788,100a1f43c56bb71781a2231a79900488,297be0a3c196d803e4e4f013432be4e1,370c9f455f93a9a96cbe9bea48e70033,56bf83c4bb35763a51c2baab501b4c67,2018-07-30 14:02:01,home_decor,online_beginner,eagle,NaN,NaN,NaN,manufacturer,NaN,0.0
797,3223fed48f30bbdc0f6040b466516bcb,0d7d5bca59d45d750fb7913b974e9d08,068066e24f0c643eb1d089c7dd20cd73,9749123c950bf8363ace42cb1c2d0815,2018-10-30 11:54:22,construction_tools_house_garden,online_big,shark,True,True,NaN,manufacturer,10.0,250000.0
812,72477e4cbc223fd605cdf76361cbe0a6,a9f81449e8f8a47f6c67e5a43b40ed04,068066e24f0c643eb1d089c7dd20cd73,060c0a26f19f4d66b42e0d8796688490,2018-03-01 21:03:12,food_drink,industry,eagle,NaN,NaN,NaN,manufacturer,NaN,0.0
819,e7f70a2ff45e44c7399bebacf3e4771d,b21768cfefb49b94e9bcd38037e93d1f,56bf83c4bb35763a51c2baab501b4c67,c638112b43f1d1b86dcabb0da720c901,2018-02-09 12:16:16,car_accessories,online_medium,NaN,NaN,NaN,NaN,manufacturer,NaN,0.0
824,8a6492305a5fbcdcdd1a7f5a90764c07,1bba9c94eb5c4e82fba9f7286fe81025,56bf83c4bb35763a51c2baab501b4c67,de63de0d10a6012430098db33c679b0b,2018-05-02 13:31:32,household_utilities,industry,eagle,NaN,NaN,NaN,manufacturer,NaN,0.0

In [75]:
olist_colsed.won_date.unique()

array(['2018-02-26 19:58:54', '2018-05-08 20:17:59',
       '2018-06-05 17:27:23', '2018-01-17 13:51:03',
       '2018-07-03 20:17:45', '2018-02-07 18:04:05',
       '2018-04-16 18:18:22', '2018-04-17 17:01:57',
       '2018-05-14 18:37:15', '2018-04-24 03:00:00',
       '2018-02-28 19:42:14', '2018-02-23 13:54:40',
       '2018-05-22 13:24:08', '2018-06-14 14:30:20',
       '2018-04-10 03:00:00', '2018-09-10 14:18:01',
       '2018-04-10 19:21:54', '2018-01-26 17:23:46',
       '2018-05-11 19:03:19', '2018-06-19 14:08:22',
       '2018-02-07 13:57:02', '2018-04-16 13:09:09',
       '2018-02-08 17:20:14', '2018-02-16 12:31:56',
       '2018-02-22 12:40:15', '2018-02-12 13:18:13',
       '2018-02-08 20:57:44', '2018-04-06 20:52:54',
       '2018-04-13 12:27:48', '2018-04-18 18:02:08',
       '2018-07-19 18:06:07', '2018-07-04 15:07:27',
       '2018-04-25 03:00:00', '2018-06-05 17:20:34',
       '2018-10-31 16:54:59', '2018-05-30 14:43:50',
       '2018-03-06 12:25:29', '2018-09-27 12:31:01',
       '2018-02-06 15:46:14', '2018-05-15 18:05:25',
       '2018-06-11 12:40:42', '2018-11-14 18:04:19',
       '2018-04-27 14:01:33', '2018-03-27 19:14:00',
       '2018-06-18 13:58:00', '2018-04-11 03:00:00',
       '2018-04-18 16:50:40', '2018-03-29 17:48:42',
       '2018-02-22 13:18:26', '2018-02-27 20:04:12',
       '2018-06-11 12:04:11', '2018-07-30 14:34:51',
       '2018-04-02 14:20:33', '2018-04-13 12:50:35',
       '2018-03-23 19:06:54', '2018-04-26 03:00:00',
       '2018-03-12 13:21:11', '2018-04-30 21:13:36',
       '2018-04-27 13:35:00', '2018-09-04 14:15:04',
       '2018-05-18 18:08:22', '2018-02-27 19:19:47',
       '2018-01-12 16:07:27', '2018-02-26 12:45:46',
       '2018-04-03 03:00:00', '2018-04-27 16:11:57',
       '2018-04-27 20:44:40', '2018-02-22 21:07:50',
       '2018-01-31 21:00:13', '2018-06-25 19:33:44',
       '2018-09-21 18:18:15', '2018-03-12 13:14:10',
       '2018-01-19 16:51:28', '2018-04-03 17:19:55',
       '2018-04-23 14:31:35', '2018-02-09 15:35:51',
       '2018-03-16 14:17:34', '2018-04-27 16:09:25',
       '2018-01-18 11:09:00', '2018-04-27 21:38:40',
       '2018-04-27 21:08:34', '2018-08-28 17:09:31',
       '2018-02-26 20:32:17', '2018-04-03 18:56:08',
       '2018-04-26 16:05:43', '2018-02-26 20:02:10',
       '2018-09-21 18:49:49', '2018-08-03 17:41:00',
       '2018-01-30 16:30:17', '2018-02-15 17:38:42',
       '2018-04-20 03:00:00', '2018-05-07 16:42:08',
       '2018-06-18 12:46:31', '2018-02-12 18:46:06',
       '2018-04-17 19:12:16', '2018-05-29 20:20:26',
       '2018-08-07 19:47:27', '2018-06-15 21:32:52',
       '2018-01-26 20:25:59', '2018-09-25 11:55:05',
       '2018-04-06 17:40:28', '2018-07-12 21:14:21',
       '2018-03-14 12:18:20', '2018-03-28 22:37:52',
       '2018-05-14 16:06:59', '2018-01-22 13:18:32',
       '2018-04-30 03:00:00', '2018-09-11 19:25:49',
       '2018-05-10 19:07:39', '2018-03-13 14:56:01',
       '2018-04-06 17:56:04', '2018-02-01 12:33:15',
       '2018-04-30 20:23:10', '2018-03-28 18:55:26',
       '2018-05-18 12:47:49', '2018-08-20 13:59:51',
       '2018-04-13 20:38:20', '2018-10-30 18:21:05',
       '2018-03-19 03:00:00', '2018-06-06 17:50:28',
       '2018-04-05 15:06:11', '2018-02-26 17:07:06',
       '2018-04-27 14:11:20', '2018-09-17 12:03:18',
       '2018-05-15 20:21:11', '2018-01-23 17:58:30',
       '2018-04-30 13:06:43', '2018-03-28 16:11:25',
       '2018-08-23 12:46:40', '2018-02-19 17:26:54',
       '2018-05-31 21:44:18', '2018-04-30 20:24:05',
       '2018-05-03 03:00:00', '2018-06-20 18:31:06',
       '2018-05-24 22:16:29', '2018-03-29 20:20:04',
       '2018-03-05 18:43:20', '2018-04-19 22:00:40',
       '2018-03-20 14:01:49', '2018-03-22 13:06:50',
       '2018-02-15 16:06:31', '2018-05-10 19:16:27',
       '2018-01-29 17:13:49', '2018-01-29 20:08:37',
       '2018-01-08 19:14:47', '2018-05-02 17:57:01',
       '2018-01-15 19:51:21', '2018-02-09 13:41:10',
       '2018-04-27 13:55:14', '2018-04-18 20:16:19',
       '2018-01-19 17:23:06', '2018-04-04 13:50:13',
       '2018-05-23 21:47:07', '2018-09-03 19:15:53',
       '2018-02-07 13:40:14', '2018-05-15 18:16:40',
       '2018-03-29 16:29:14', '2018-07-31 22:29:03',
       '2018-01-26 18:13:17', '2018-04-09 17:28:44',
       '2018-04-20 13:24:51', '2018-04-20 19:04:20',
       '2018-08-10 13:01:03', '2018-05-08 12:18:42',
       '2018-02-28 03:00:00', '2018-04-26 20:04:29',
       '2018-03-01 14:58:45', '2018-01-10 18:15:06',
       '2018-04-27 03:00:00', '2018-06-26 12:51:19',
       '2018-03-12 18:24:50', '2018-07-11 14:58:50',
       '2018-04-04 21:17:17', '2018-04-03 18:29:19',
       '2018-06-20 12:24:10', '2018-05-22 21:25:39',
       '2018-01-31 13:33:48', '2018-07-18 20:24:28',
       '2018-03-26 19:31:38', '2018-05-21 20:28:33',
       '2018-01-31 02:00:00', '2018-04-13 13:41:51',
       '2018-06-20 18:32:56', '2018-04-11 14:36:14',
       '2018-02-26 20:59:09', '2018-10-24 19:33:34',
       '2018-03-16 19:39:38', '2018-07-13 20:14:57',
       '2018-02-22 13:16:06', '2018-08-30 22:00:23',
       '2018-06-14 18:51:26', '2018-07-03 12:26:43',
       '2018-06-01 16:45:27', '2018-02-26 16:11:50',
       '2018-05-11 03:00:00', '2018-05-15 19:03:42',
       '2018-04-05 19:05:16', '2018-01-12 18:25:57',
       '2018-06-29 20:16:50', '2018-05-17 21:47:38',
       '2018-08-10 16:46:39', '2018-06-25 18:42:15',
       '2018-04-17 14:51:42', '2018-08-21 21:07:30',
       '2018-07-30 20:30:31', '2018-02-07 20:39:32',
       '2018-02-26 16:09:48', '2018-04-27 14:07:20',
       '2018-08-08 16:22:31', '2018-06-18 13:51:38',
       '2018-03-22 21:20:42', '2018-03-07 22:08:32',
       '2018-04-11 20:19:49', '2018-02-27 17:30:22',
       '2018-03-19 18:58:47', '2018-05-11 14:22:51',
       '2018-04-10 18:20:00', '2018-03-12 21:20:49',
       '2018-10-03 12:28:55', '2018-01-12 02:00:00',
       '2018-06-04 13:55:12', '2018-09-13 03:00:00',
       '2018-01-31 16:18:47', '2018-02-02 13:08:11',
       '2018-06-13 16:37:42', '2018-05-16 17:48:30',
       '2018-05-25 16:36:57', '2018-06-05 21:47:22',
       '2018-06-11 12:36:11', '2018-02-05 18:36:39',
       '2018-02-15 18:21:28', '2018-03-28 16:09:52',
       '2018-01-23 12:41:16', '2018-10-01 12:27:47',
       '2018-11-01 15:36:16', '2018-01-11 17:16:48',
       '2018-05-10 20:10:08', '2018-05-25 21:25:11',
       '2018-05-30 22:29:56', '2018-02-08 19:03:20',
       '2018-07-31 20:01:32', '2018-03-28 19:05:44',
       '2018-05-14 19:26:01', '2018-03-26 20:08:26',
       '2018-04-30 20:47:07', '2018-06-19 19:54:25',
       '2018-02-02 11:25:23', '2018-04-25 18:28:42',
       '2018-01-15 17:14:00', '2018-08-20 13:15:36',
       '2018-03-07 14:24:51', '2018-01-29 20:43:42',
       '2018-01-30 18:06:36', '2018-04-27 12:40:32',
       '2018-04-20 19:29:22', '2018-01-19 02:00:00',
       '2018-01-12 13:49:28', '2018-01-18 02:00:00',
       '2018-04-04 20:55:17', '2018-06-26 17:13:29',
       '2018-03-27 03:00:00', '2018-07-26 17:03:01',
       '2018-05-14 19:41:58', '2018-01-22 17:43:36',
       '2018-05-18 13:05:14', '2018-05-23 21:00:58',
       '2018-03-13 15:51:54', '2018-04-19 14:13:04',
       '2018-02-28 19:15:15', '2018-08-02 17:32:16',
       '2018-04-18 20:19:00', '2018-04-06 14:15:21',
       '2018-04-14 03:00:00', '2018-08-14 13:56:57',
       '2018-05-23 13:57:13', '2018-03-28 22:45:45',
       '2018-04-06 21:43:37', '2018-05-25 18:04:39',
       '2018-05-11 12:46:58', '2018-04-24 14:19:33',
       '2018-05-11 19:21:23', '2018-04-27 13:27:25',
       '2018-04-25 21:44:40', '2018-08-24 03:00:00',
       '2018-04-11 16:05:14', '2018-05-10 17:13:16',
       '2018-04-25 17:19:34', '2018-03-19 20:04:46',
       '2018-02-16 18:51:56', '2018-04-30 17:43:10',
       '2018-04-20 14:26:36', '2018-05-24 20:25:11',
       '2018-04-18 19:26:35', '2018-05-11 20:38:50',
       '2018-03-15 15:12:53', '2018-04-24 17:05:08',
       '2018-02-21 12:30:22', '2018-02-02 20:42:47',
       '2018-05-08 17:18:41', '2018-04-28 03:00:00',
       '2018-06-08 12:10:27', '2018-03-09 17:24:41',
       '2018-10-01 12:31:26', '2018-04-17 17:18:12',
       '2018-05-24 16:11:06', '2018-01-10 19:40:52',
       '2018-03-07 03:00:00', '2018-05-17 12:09:33',
       '2018-02-06 02:00:00', '2018-02-27 19:13:04',
       '2018-01-16 02:00:00', '2018-01-22 17:11:43',
       '2018-08-17 14:41:00', '2018-04-20 12:18:30',
       '2018-03-05 20:54:03', '2018-06-04 18:53:50',
       '2018-04-30 16:01:35', '2018-04-18 16:36:44',
       '2018-03-09 14:18:20', '2018-04-09 18:58:34',
       '2018-05-14 19:17:03', '2018-03-07 17:11:48',
       '2018-02-20 17:44:19', '2018-03-23 17:58:38',
       '2018-01-26 12:23:51', '2018-02-07 18:11:05',
       '2018-06-08 19:09:46', '2018-10-10 01:15:56',
       '2018-03-22 19:35:04', '2018-03-01 12:22:46',
       '2018-02-16 20:09:12', '2018-04-17 18:12:47',
       '2018-03-16 14:22:29', '2018-03-08 03:00:00',
       '2018-03-16 13:57:28', '2018-03-15 19:10:24',
       '2018-10-25 17:16:36', '2018-04-30 20:58:34',
       '2018-06-05 13:34:52', '2018-02-28 22:17:25',
       '2018-03-29 12:34:47', '2018-01-22 13:22:05',
       '2018-03-19 18:20:11', '2018-06-07 13:59:42',
       '2018-04-24 14:04:51', '2018-09-03 03:00:00',
       '2018-06-15 14:04:52', '2018-06-12 19:54:25',
       '2018-08-28 21:30:52', '2018-03-01 17:44:43',
       '2018-04-30 21:48:02', '2018-01-23 11:33:43',
       '2018-04-19 18:10:32', '2018-01-29 11:26:57',
       '2018-03-05 12:52:26', '2018-03-23 19:56:18',
       '2018-03-16 20:22:47', '2018-04-04 17:31:09',
       '2018-03-28 03:00:00', '2018-05-21 14:06:49',
       '2018-04-11 22:21:15', '2018-04-06 03:00:00',
       '2018-03-12 17:30:06', '2018-04-03 20:47:56',
       '2018-02-09 18:11:10', '2018-05-11 21:26:07',
       '2018-01-30 11:33:40', '2018-02-02 13:10:58',
       '2018-04-11 15:15:51', '2018-02-28 17:16:01',
       '2018-07-02 13:40:15', '2018-05-18 20:27:46',
       '2018-03-13 17:16:23', '2018-04-26 13:40:00',
       '2018-11-01 11:47:50', '2018-02-27 13:54:11',
       '2018-02-15 17:22:47', '2018-04-25 22:04:32',
       '2018-03-29 18:12:58', '2018-06-06 13:53:35',
       '2018-03-09 20:12:38', '2018-04-25 16:22:26',
       '2018-05-25 15:00:14', '2018-05-16 13:32:26',
       '2018-09-14 14:43:50', '2018-04-16 18:25:12',
       '2018-01-30 11:42:01', '2018-01-24 15:19:49',
       '2018-05-15 21:17:04', '2018-05-04 03:00:00',
       '2018-03-16 19:52:21', '2018-02-27 17:13:23',
       '2018-04-30 19:28:30', '2018-04-18 14:08:11',
       '2018-02-15 14:37:04', '2018-04-27 16:24:00',
       '2018-05-25 22:37:08', '2018-09-24 20:45:42',
       '2018-03-07 13:56:43', '2018-05-21 19:55:20',
       '2018-08-20 21:05:48', '2018-05-02 14:23:32',
       '2018-05-24 16:47:23', '2018-01-18 20:02:48',
       '2018-05-11 17:24:16', '2018-02-14 11:48:29',
       '2018-01-24 17:14:32', '2018-03-29 18:06:54',
       '2018-02-27 12:23:13', '2018-03-19 17:36:04',
       '2018-04-19 17:11:18', '2018-04-18 19:01:21',
       '2018-02-19 20:21:26', '2018-05-07 18:22:39',
       '2018-05-14 20:15:57', '2018-03-22 15:07:28',
       '2018-04-16 16:58:06', '2018-03-16 14:14:20',
       '2018-04-06 16:56:39', '2018-03-07 19:04:28',
       '2018-03-09 12:49:20', '2018-03-26 20:54:23',
       '2018-03-21 16:16:52', '2018-03-12 13:00:43',
       '2018-05-02 17:29:18', '2018-05-30 13:34:09',
       '2018-05-09 16:52:06', '2018-04-20 20:48:35',
       '2018-03-08 15:01:48', '2018-04-09 18:22:46',
       '2018-02-23 12:03:59', '2018-08-15 19:09:36',
       '2018-03-09 03:00:00', '2018-10-10 16:35:47',
       '2018-04-20 20:11:23', '2018-03-15 17:13:24',
       '2018-04-09 21:04:41', '2018-06-19 21:04:53',
       '2018-04-12 12:35:49', '2018-04-23 20:40:04',
       '2018-01-29 12:15:43', '2018-04-10 19:17:03',
       '2018-05-11 17:09:22', '2018-03-26 12:07:20',
       '2018-04-03 20:39:13', '2018-02-08 17:29:13',
       '2018-08-30 22:34:38', '2018-03-06 11:29:22',
       '2018-03-27 17:57:49', '2018-03-29 17:45:03',
       '2018-02-22 13:28:41', '2018-01-16 12:36:23',
       '2018-01-23 18:30:32', '2018-07-10 15:57:10',
       '2018-04-12 21:32:57', '2018-05-30 17:49:58',
       '2018-05-08 17:48:59', '2018-03-15 21:09:42',
       '2018-02-09 15:46:42', '2018-03-06 13:29:10',
       '2018-03-14 12:24:20', '2018-10-03 18:32:49',
       '2018-06-11 19:23:48', '2018-02-22 18:03:54',
       '2018-02-02 11:22:56', '2018-03-22 13:14:56',
       '2018-05-14 13:25:24', '2018-04-12 14:02:51',
       '2018-01-30 17:39:30', '2018-02-07 15:45:25',
       '2018-02-05 20:03:48', '2018-03-19 20:26:27',
       '2018-02-05 18:10:27', '2018-07-18 18:48:13',
       '2018-03-14 16:52:04', '2018-05-14 13:36:50',
       '2018-04-30 18:30:12', '2018-01-24 11:33:32',
       '2018-05-22 12:44:38', '2018-03-14 12:23:39',
       '2018-06-27 15:12:26', '2018-08-21 12:30:34',
       '2018-03-26 20:42:32', '2018-04-30 14:27:15',
       '2018-04-11 13:39:02', '2018-01-22 15:28:51',
       '2018-02-07 11:14:36', '2018-03-14 19:43:52',
       '2018-09-27 17:36:04', '2018-05-17 12:42:15',
       '2018-06-04 12:47:47', '2018-05-18 19:32:40',
       '2018-04-23 21:07:06', '2018-02-19 19:49:04',
       '2018-04-23 13:23:55', '2018-07-20 18:18:14',
       '2018-07-20 20:30:20', '2018-04-13 03:00:00',
       '2018-07-09 12:54:57', '2018-07-13 11:53:00',
       '2018-05-21 17:41:31', '2018-04-10 19:34:27',
       '2018-03-29 17:05:39', '2018-03-09 13:45:50',
       '2018-01-12 12:23:31', '2018-10-02 21:25:39',
       '2018-01-30 12:17:36', '2018-03-20 13:53:13',
       '2018-10-08 17:22:23', '2018-01-29 10:35:52',
       '2018-03-27 21:32:52', '2018-02-15 12:24:37',
       '2018-04-03 12:21:09', '2018-10-29 16:54:59',
       '2018-05-15 13:29:59', '2018-10-24 11:33:31',
       '2018-03-23 19:52:00', '2018-09-06 16:31:09',
       '2018-04-27 20:10:02', '2018-03-01 19:48:16',
       '2018-04-27 12:39:38', '2018-06-21 12:39:59',
       '2018-05-08 13:32:34', '2018-10-05 12:35:50',
       '2018-02-14 17:11:22', '2018-01-29 02:00:00',
       '2018-02-19 21:08:55', '2018-05-10 18:11:09',
       '2018-09-04 14:34:07', '2018-04-13 21:53:17',
       '2018-03-02 16:20:21', '2018-02-20 19:40:05',
       '2018-04-05 14:44:21', '2018-03-26 21:56:43',
       '2018-05-02 17:22:49', '2018-08-22 13:14:44',
       '2018-02-23 20:27:56', '2018-02-28 16:19:57',
       '2018-06-14 15:43:46', '2018-04-13 18:12:32',
       '2018-01-31 16:40:54', '2018-03-09 20:05:55',
       '2018-02-27 20:53:04', '2018-05-21 21:21:21',
       '2018-04-09 12:26:37', '2018-07-12 19:56:39',
       '2018-07-31 13:29:15', '2017-12-14 11:30:13',
       '2018-03-13 12:33:10', '2018-04-05 13:18:02',
       '2018-05-30 16:07:26', '2018-04-23 16:16:57',
       '2018-03-26 16:07:32', '2018-07-10 11:34:50',
       '2018-03-13 21:39:34', '2018-02-28 21:24:13',
       '2018-04-04 18:53:19', '2018-05-08 20:14:11',
       '2018-04-18 20:05:55', '2018-05-14 12:26:01',
       '2018-05-15 20:34:06', '2018-08-24 11:54:08',
       '2018-04-06 16:27:35', '2018-08-20 17:50:56',
       '2018-04-27 16:17:37', '2018-03-06 18:49:03',
       '2018-02-15 14:58:37', '2018-04-25 19:19:08',
       '2018-04-13 11:56:52', '2018-01-25 15:03:55',
       '2018-04-05 18:45:56', '2018-04-10 14:05:56',
       '2018-02-26 18:32:05', '2018-06-07 14:21:17',
       '2018-01-31 20:47:51', '2018-04-10 22:03:57',
       '2018-04-11 19:00:03', '2018-08-23 21:56:01',
       '2018-02-07 19:54:19', '2018-05-15 20:22:41',
       '2018-03-06 13:27:32', '2018-07-17 17:02:36',
       '2018-02-08 20:28:27', '2018-03-19 12:41:03',
       '2018-03-27 14:48:01', '2018-04-18 19:05:58',
       '2018-04-06 19:42:14', '2018-02-06 16:11:05',
       '2018-05-10 19:26:38', '2018-03-28 21:22:04',
       '2018-05-17 17:22:45', '2018-03-24 03:00:00',
       '2018-06-07 13:30:28', '2018-03-14 12:14:58',
       '2018-03-29 13:49:44', '2018-05-14 19:57:48',
       '2018-04-13 16:21:23', '2018-08-30 12:32:15',
       '2018-04-05 15:11:12', '2018-02-28 18:22:11',
       '2018-08-17 19:29:47', '2018-10-31 19:17:57',
       '2018-04-25 16:03:49', '2018-03-12 16:40:42',
       '2018-04-16 12:26:39', '2018-06-05 18:00:37',
       '2018-03-21 13:03:40', '2018-04-10 18:22:26',
       '2018-03-22 13:02:12', '2018-04-16 14:49:40',
       '2018-07-13 19:46:12', '2018-03-16 16:20:55',
       '2018-02-23 11:40:05', '2018-04-18 16:43:53',
       '2018-09-20 17:13:05', '2018-04-12 03:00:00',
       '2018-04-11 17:08:35', '2018-02-26 13:02:58',
       '2018-10-29 14:54:02', '2018-03-28 13:21:21',
       '2018-07-13 21:58:39', '2018-02-16 11:56:46',
       '2018-03-14 17:31:31', '2018-07-02 17:20:22',
       '2018-07-24 19:56:07', '2018-04-02 13:03:24',
       '2018-05-11 16:16:13', '2017-12-11 18:07:26',
       '2018-07-13 17:38:49', '2018-01-22 02:00:00',
       '2018-03-19 20:39:25', '2018-05-17 03:00:00',
       '2018-09-05 14:32:37', '2018-05-02 13:39:20',
       '2018-04-30 12:04:11', '2018-02-08 13:13:35',
       '2018-03-27 19:15:09', '2018-03-20 20:23:26',
       '2018-03-06 19:38:55', '2018-03-07 19:23:35',
       '2018-09-26 11:48:53', '2018-03-15 20:31:54',
       '2018-03-26 17:04:23', '2018-03-02 21:18:48',
       '2018-01-19 19:29:55', '2018-10-26 17:06:53',
       '2018-01-17 12:11:20', '2018-04-20 19:42:05',
       '2018-04-30 21:23:41', '2018-05-09 13:17:12',
       '2018-03-06 18:14:08', '2018-04-18 12:45:01',
       '2018-11-09 20:06:38', '2018-04-06 12:13:08',
       '2018-02-22 21:25:08', '2018-04-10 19:08:35',
       '2018-01-29 15:09:03', '2018-05-16 15:05:26',
       '2018-04-20 20:24:22', '2018-04-10 18:37:30',
       '2018-04-13 17:03:29', '2018-03-08 18:57:56',
       '2018-04-30 18:24:13', '2018-01-22 19:14:25',
       '2018-04-10 14:43:06', '2018-04-17 13:14:51',
       '2018-05-16 20:25:19', '2018-02-05 15:04:41',
       '2018-01-15 13:08:11', '2018-06-12 18:59:26',
       '2018-09-11 13:14:37', '2018-02-21 14:54:47',
       '2018-05-18 17:17:42', '2018-03-14 20:07:27',
       '2018-05-09 16:21:08', '2018-04-30 20:57:42',
       '2018-05-31 21:24:31', '2018-05-30 16:15:12',
       '2018-04-24 20:43:12', '2018-06-19 12:36:05',
       '2018-02-06 13:55:36', '2018-04-25 19:43:04',
       '2018-06-29 18:28:26', '2018-03-28 16:16:34',
       '2018-03-02 12:58:05', '2018-07-06 17:10:17',
       '2018-02-08 13:10:58', '2018-04-20 12:20:34',
       '2018-05-21 20:17:38', '2018-05-07 16:18:52',
       '2018-04-13 14:30:12', '2018-06-08 12:15:38',
       '2018-10-18 16:27:51', '2018-04-27 14:01:59',
       '2018-04-04 18:42:57', '2018-01-29 12:10:19',
       '2018-03-28 18:50:57', '2018-04-20 18:13:06',
       '2018-03-20 17:30:41', '2018-04-11 12:24:58',
       '2018-05-15 17:20:12', '2018-04-04 19:56:06',
       '2018-04-25 21:02:03', '2018-02-14 11:14:12',
       '2018-03-07 14:58:07', '2018-05-09 14:24:56',
       '2018-03-09 17:59:38', '2018-08-07 17:17:28',
       '2018-04-12 13:58:09', '2018-04-23 20:19:56',
       '2018-02-15 11:24:52', '2018-02-09 15:37:08',
       '2018-04-30 16:06:05', '2018-06-11 21:01:55',
       '2018-08-14 14:48:04', '2018-08-17 03:00:00',
       '2018-04-13 20:51:13', '2018-05-08 21:28:11',
       '2018-03-14 14:24:23', '2018-04-20 17:53:11',
       '2018-07-26 16:15:33', '2018-04-30 18:57:37',
       '2018-06-28 12:33:50', '2018-05-09 21:35:58',
       '2018-08-07 12:21:06', '2018-09-10 18:10:00',
       '2018-01-19 11:26:39', '2018-03-07 12:25:54',
       '2018-11-06 19:41:39', '2018-07-09 18:00:57',
       '2018-05-24 19:51:56', '2018-04-06 16:43:28',
       '2018-01-15 18:05:41', '2018-05-08 17:42:04',
       '2018-03-14 17:18:59', '2018-03-02 13:54:02',
       '2018-02-28 17:16:15', '2018-04-30 21:29:27',
       '2018-06-21 12:21:33', '2018-07-09 14:53:03',
       '2018-03-12 18:45:13', '2018-06-01 02:32:00',
       '2018-03-27 13:27:01', '2018-01-16 13:16:45',
       '2018-02-27 17:39:50', '2018-04-10 12:30:33',
       '2018-05-14 14:24:45', '2018-04-10 17:23:25',
       '2018-10-01 17:47:09', '2018-03-07 19:17:31',
       '2018-02-22 16:22:07', '2018-05-14 18:06:33',
       '2018-03-13 18:53:47', '2018-03-14 03:00:00',

In [10]:
olist_customers=pd.read_csv('olist_customers_dataset.csv')

In [11]:
olist_customers.isnull().mean()*100

customer_id                 0.0
customer_unique_id          0.0
customer_zip_code_prefix    0.0
customer_city               0.0
customer_state              0.0
dtype: float64

In [40]:
olist_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [12]:
olist_seller=pd.read_csv('olist_sellers_dataset.csv')

In [41]:
olist_seller.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [46]:
olist_seller['seller_id'].nunique()

3095

In [13]:
olist_seller.isnull().mean()*100

seller_id                 0.0
seller_zip_code_prefix    0.0
seller_city               0.0
seller_state              0.0
dtype: float64

In [14]:
olist_orders_item=pd.read_csv('olist_order_items_dataset.csv')

In [15]:
olist_orders_item.isnull().mean()*100

order_id               0.0
order_item_id          0.0
product_id             0.0
seller_id              0.0
shipping_limit_date    0.0
price                  0.0
freight_value          0.0
dtype: float64

In [53]:
olist_orders_item

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [54]:
olist_orders_item.dtypes

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

In [ ]:
#convert shipping limit date to date

In [16]:
olist_review=pd.read_csv('olist_order_reviews_dataset.csv')

In [17]:
olist_review.isnull().mean()*100

review_id                   0.000000
order_id                    0.000000
review_score                0.000000
review_comment_title       88.341530
review_comment_message     58.702532
review_creation_date        0.000000
review_answer_timestamp     0.000000
dtype: float64

In [18]:
olist_review.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,ParabÃ©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [19]:
olist_golocation=pd.read_csv('olist_geolocation_dataset.csv')

In [20]:
olist_golocation.isnull().mean()*100

geolocation_zip_code_prefix    0.0
geolocation_lat                0.0
geolocation_lng                0.0
geolocation_city               0.0
geolocation_state              0.0
dtype: float64

In [21]:
olist_golocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [22]:
olist_payment=pd.read_csv('olist_order_payments_dataset.csv')

In [23]:
olist_payment.isnull().mean()*100

order_id                0.0
payment_sequential      0.0
payment_type            0.0
payment_installments    0.0
payment_value           0.0
dtype: float64

In [24]:
olist_payment.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [25]:
olist_payment.payment_type.value_counts()

payment_type
credit_card    76795
boleto         19784
voucher         5775
debit_card      1529
not_defined        3
Name: count, dtype: int64

In [26]:
olist_payment= olist_payment.drop(olist_payment[olist_payment['payment_type'] == 'not_defined'].index)
olist_payment.payment_type.value_counts()

payment_type
credit_card    76795
boleto         19784
voucher         5775
debit_card      1529
Name: count, dtype: int64

In [27]:
product_category=pd.read_csv('product_category_name_translation.csv')

In [28]:
product_category.isnull().mean()*100

product_category_name            0.0
product_category_name_english    0.0
dtype: float64

In [29]:
product_category.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [72]:
product_category.product_category_name_english.unique()

array(['health_beauty', 'computers_accessories', 'auto', 'bed_bath_table',
       'furniture_decor', 'sports_leisure', 'perfumery', 'housewares',
       'telephony', 'watches_gifts', 'food_drink', 'baby', 'stationery',
       'tablets_printing_image', 'toys', 'fixed_telephony',
       'garden_tools', 'fashion_bags_accessories', 'small_appliances',
       'consoles_games', 'audio', 'fashion_shoes', 'cool_stuff',
       'luggage_accessories', 'air_conditioning',
       'construction_tools_construction',
       'kitchen_dining_laundry_garden_furniture',
       'costruction_tools_garden', 'fashion_male_clothing', 'pet_shop',
       'office_furniture', 'market_place', 'electronics',
       'home_appliances', 'party_supplies', 'home_confort',
       'costruction_tools_tools', 'agro_industry_and_commerce',
       'furniture_mattress_and_upholstery', 'books_technical',
       'home_construction', 'musical_instruments',
       'furniture_living_room', 'construction_tools_lights',
       'industry_commerce_and_business', 'food', 'art',
       'furniture_bedroom', 'books_general_interest',
       'construction_tools_safety', 'fashion_underwear_beach',
       'fashion_sport', 'signaling_and_security', 'computers',
       'christmas_supplies', 'fashio_female_clothing',
       'home_appliances_2', 'books_imported', 'drinks', 'cine_photo',
       'la_cuisine', 'music', 'home_comfort_2',
       'small_appliances_home_oven_and_coffee', 'cds_dvds_musicals',
       'dvds_blu_ray', 'flowers', 'arts_and_craftmanship',
       'diapers_and_hygiene', 'fashion_childrens_clothes',
       'security_and_services'], dtype=object)

In [30]:
orders=pd.read_csv('olist_orders_dataset.csv')

In [31]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [32]:
orders.isnull().mean()*100

order_id                         0.000000
customer_id                      0.000000
order_status                     0.000000
order_purchase_timestamp         0.000000
order_approved_at                0.160899
order_delivered_carrier_date     1.793023
order_delivered_customer_date    2.981668
order_estimated_delivery_date    0.000000
dtype: float64

In [33]:
orders =orders.dropna(subset=[
    'order_approved_at', 
    'order_delivered_carrier_date', 
    'order_delivered_customer_date', 
])

In [34]:
orders.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [35]:
orders.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

In [36]:
orders['order_delivered_carrier_date']=pd.to_datetime(orders['order_delivered_carrier_date'])
orders['order_delivered_customer_date']=pd.to_datetime(orders['order_delivered_customer_date'])
orders['oorder_estimated_delivery_date']=pd.to_datetime(orders['order_estimated_delivery_date'])

In [56]:
#orders['order_purchase_date'] = orders['order_purchase_timestamp'].dt.date

In [57]:
olist_products=pd.read_csv('olist_products_dataset.csv')

In [58]:
columns_prodcuts = [
    'product_category_name', 
    'product_name_lenght', 
    'product_description_lenght', 
    'product_photos_qty'
]

In [59]:
olist_products = olist_products.dropna(subset=[
    'product_category_name', 
    'product_name_lenght', 
    'product_description_lenght', 
    'product_photos_qty','product_weight_g','product_length_cm','product_height_cm','product_width_cm' 
])

In [60]:
olist_products.isnull().mean()*100

product_id                    0.0
product_category_name         0.0
product_name_lenght           0.0
product_description_lenght    0.0
product_photos_qty            0.0
product_weight_g              0.0
product_length_cm             0.0
product_height_cm             0.0
product_width_cm              0.0
dtype: float64

In [61]:
olist_products.dtypes

product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

In [62]:
olist_products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [63]:
olist_products.product_category_name.unique()

array(['perfumaria', 'artes', 'esporte_lazer', 'bebes',
       'utilidades_domesticas', 'instrumentos_musicais', 'cool_stuff',
       'moveis_decoracao', 'eletrodomesticos', 'brinquedos',
       'cama_mesa_banho', 'construcao_ferramentas_seguranca',
       'informatica_acessorios', 'beleza_saude', 'malas_acessorios',
       'ferramentas_jardim', 'moveis_escritorio', 'automotivo',
       'eletronicos', 'fashion_calcados', 'telefonia', 'papelaria',
       'fashion_bolsas_e_acessorios', 'pcs', 'casa_construcao',
       'relogios_presentes', 'construcao_ferramentas_construcao',
       'pet_shop', 'eletroportateis', 'agro_industria_e_comercio',
       'moveis_sala', 'sinalizacao_e_seguranca', 'climatizacao',
       'consoles_games', 'livros_interesse_geral',
       'construcao_ferramentas_ferramentas',
       'fashion_underwear_e_moda_praia', 'fashion_roupa_masculina',
       'moveis_cozinha_area_de_servico_jantar_e_jardim',
       'industria_comercio_e_negocios', 'telefonia_fixa',
       'construcao_ferramentas_iluminacao', 'livros_tecnicos',
       'eletrodomesticos_2', 'artigos_de_festas', 'bebidas',
       'market_place', 'la_cuisine', 'construcao_ferramentas_jardim',
       'fashion_roupa_feminina', 'casa_conforto', 'audio',
       'alimentos_bebidas', 'musica', 'alimentos',
       'tablets_impressao_imagem', 'livros_importados',
       'portateis_casa_forno_e_cafe', 'fashion_esporte',
       'artigos_de_natal', 'fashion_roupa_infanto_juvenil',
       'dvds_blu_ray', 'artes_e_artesanato', 'pc_gamer', 'moveis_quarto',
       'cine_foto', 'fraldas_higiene', 'flores', 'casa_conforto_2',
       'portateis_cozinha_e_preparadores_de_alimentos',
       'seguros_e_servicos', 'moveis_colchao_e_estofado',
       'cds_dvds_musicais'], dtype=object)

In [64]:
olist_marketing=pd.read_csv('olist_marketing_qualified_leads_dataset.csv')

In [65]:
olist_marketing.isnull().mean()*100

mql_id                0.00
first_contact_date    0.00
landing_page_id       0.00
origin                0.75
dtype: float64

In [66]:
olist_marketing.head()

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search

In [ ]:
orders.to_csv('clean_olist_orders.csv', index=False)
olist_orders_item.to_csv('clean_olist_order_items.csv', index=False)
olist_review.to_csv('clean_olist_order_reviews.csv', index=False)
olist_payment.to_csv('clean_olist_order_payments.csv', index=False)
olist_customers.to_csv('clean_olist_customers.csv', index=False)
olist_products.to_csv('clean_olist_products.csv', index=False)
olist_seller.to_csv('clean_olist_sellers.csv', index=False)
olist_golocation.to_csv('clean_olist_geolocation.csv', index=False)
olist_marketing.to_csv('clean_olist_marketing_qualified_leads_dataset.csv',index=False)
olist_colsed.to_csv('olist_closed_deals_dataset.csv',index=False)

In [ ]:
olist_colsed.to_csv('clean_olist_closed_deals_dataset.csv',index=False)
product_category.to_csv('clean_product_category_name_translation.csv',index=False)

In [73]:
product_category.product_category_name_english.unique()

array(['health_beauty', 'computers_accessories', 'auto', 'bed_bath_table',
       'furniture_decor', 'sports_leisure', 'perfumery', 'housewares',
       'telephony', 'watches_gifts', 'food_drink', 'baby', 'stationery',
       'tablets_printing_image', 'toys', 'fixed_telephony',
       'garden_tools', 'fashion_bags_accessories', 'small_appliances',
       'consoles_games', 'audio', 'fashion_shoes', 'cool_stuff',
       'luggage_accessories', 'air_conditioning',
       'construction_tools_construction',
       'kitchen_dining_laundry_garden_furniture',
       'costruction_tools_garden', 'fashion_male_clothing', 'pet_shop',
       'office_furniture', 'market_place', 'electronics',
       'home_appliances', 'party_supplies', 'home_confort',
       'costruction_tools_tools', 'agro_industry_and_commerce',
       'furniture_mattress_and_upholstery', 'books_technical',
       'home_construction', 'musical_instruments',
       'furniture_living_room', 'construction_tools_lights',
       'industry_commerce_and_business', 'food', 'art',
       'furniture_bedroom', 'books_general_interest',
       'construction_tools_safety', 'fashion_underwear_beach',
       'fashion_sport', 'signaling_and_security', 'computers',
       'christmas_supplies', 'fashio_female_clothing',
       'home_appliances_2', 'books_imported', 'drinks', 'cine_photo',
       'la_cuisine', 'music', 'home_comfort_2',
       'small_appliances_home_oven_and_coffee', 'cds_dvds_musicals',
       'dvds_blu_ray', 'flowers', 'arts_and_craftmanship',
       'diapers_and_hygiene', 'fashion_childrens_clothes',
       'security_and_services'], dtype=object)

In [76]:
olist_colsed.business_segment.unique()

array(['pet', 'car_accessories', 'home_appliances', 'food_drink',
       'health_beauty', 'computers', 'household_utilities',
       'construction_tools_house_garden', 'toys', 'sports_leisure',
       'stationery', 'food_supplement', 'home_decor', 'bed_bath_table',
       'watches', 'fashion_accessories', 'jewerly', 'party',
       'small_appliances', 'audio_video_electronics', 'other',
       'bags_backpacks', 'home_office_furniture', 'music_instruments',
       'books', 'baby', 'air_conditioning', 'phone_mobile', 'handcrafted',
       'perfume', 'gifts', 'religious', 'games_consoles'], dtype=object)